chardet
Django<2
django-bootstrap3
django-celery
django-filter
django-grappelli
django-guardian
django-mongonaut
django-simple-captcha
django-tables2
django-templateaddons
django-reversion
django-pure-pagination
django-activeurl
django-activity-stream
django-crispy-forms
django-redis
djangorestframework
nose
python-termstyle
rednose
elasticsearch
kombu
Markdown
mongoengine
amqp
anyjson
xlwt
gunicorn
elasticutils
pybloom
MySQL-python
