chardet
Django<1.9
django-bootstrap3
django-celery
django-filter
django-grappelli
django-guardian
django-mongonaut
django-simple-captcha
django-tables2
django-templateaddons
django-reversion
django-pure-pagination
django-activeurl
django-activity-stream
djangorestframework
nose
python-termstyle
rednose
elasticsearch
kombu
Markdown
mongoengine
amqp
anyjson
xlwt
gunicorn
django-redis
elasticutils
pybloom
